
<style type="text/css">
  html {
    background-color: white;
  }
</style>
<div id="title-area">
  <h1>Javascript Tests</h1>
  <button type="button" class="btn btn-primary run-tests-btn" onclick="runAllTests()">Run Frontend Tests</button>
</div>
<ul id="test-list">
  
</ul>